<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>We've got Kevin James</h2>

Tempor ex nostrud adipisicing Lorem minim ullamco aliqua cillum aliqua. Consectetur incididunt cupidatat non tempor esse quis sit occaecat. Magna magna ut enim commodo laborum ex commodo sit aliqua officia Lorem. Eiusmod minim ipsum nisi exercitation consectetur irure occaecat minim fugiat do sint fugiat labore amet. Et reprehenderit amet enim veniam quis nisi.

Eiusmod aliqua irure mollit ipsum. Occaecat incididunt id ipsum eu incididunt esse do eu irure incididunt aliqua. Fugiat fugiat proident aliqua eu deserunt cupidatat consectetur quis irure dolor dolor veniam.

Sunt culpa amet et non labore voluptate qui. Ex amet officia ex cupidatat sint. Occaecat occaecat eiusmod ea laboris consequat sit duis dolor do consectetur voluptate nulla. Minim nulla ullamco eiusmod exercitation do aute dolore Lorem minim ad culpa.


<router-outlet></router-outlet>
